/* FHIR family-specific colors */
:root {
  --navbar-bg-color: #232D5B; /* 2. Header container color */
  --footer-container-bg-color: #ad1f2f; /* 4. Footer container color */
  --btn-hover-color: #3c3e8f;  /* 6. Menu button hover color */
}
